@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Delete";
    ViewData["Id"] = Model.Id;
}

<h1> Are You Sure You Want To Delete This Department</h1>
<partial name="Partial/DetailsDeleteDepartmentPartial" />

